.viewMovies {

  box-sizing: border-box;

  .movieCategory {
    position: absolute;
    margin-left: 30%;
    margin-top: 3%;

    .subTitle {
      font-size: 2vw;
      color:  #ff2462;
    }
  }

  .movieContainer {
    margin-left: 21.5%;
    margin-top: -50vw;
    height: 36vw;
    padding: 0.5vw 4vw 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .movieContent {
      width: 14vw;
      height: 20vw;
      margin-left: 2.6vw;
      margin-bottom: 4vw;
      background-color: white;
      color: black;
      box-shadow: 0.2vw 0.2vw 0.2vw rgb(102, 101, 101);

      b {
        margin-left: 1.5vw;
        line-height: 1.2vw;
      }

      img {
        width: 13vw;
        height: 15vw;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        margin-bottom: 0.5vw;
      }

      .subDivision {
        font-size: 0.7vw;
        opacity: 0.7;
        margin-left: 1.5vw;

        .rating {
          background-color: red;
          padding: 0.2vw 0.5vw;
          border-radius: 1vw;
          opacity: 1;
          color: black;
          font-weight: bold;

          .star img {
            width: 0.7vw;
            height: 0.7vw;
            margin-top: -2vw;
            margin-bottom: -0.1vw;
            margin-left: 0vw;
          }
        }
      }
    }
  }







}
