<div class="header">
  <div class="container1">
    Media
  </div>

  <div class="container2">
    <span class="search_icon"><img src="https://icons-for-free.com/iconfiles/png/512/finance+magnifier+money+search+icon-1320086609368077798.png" alt="Search Icon" ></span>
    <span><app-search></app-search></span>
  </div>

  <div class="container3">
    <div class="dropbtn">
      <img src="../../../assets/imgs/settings.svg" alt="" class="settings">
      <div class="dropdown-content">
        <a href="#">Settings</a>
        <a href="#">Profile</a>
        <a href="#">Logout</a>
      </div>
    </div>

  </div>
</div>
