:host {

  .header {
  color: white;
  padding: 1vw;
  display: flex;
  background-color: #ff2462;
  position: fixed;
  width: 100%;
  z-index: 4;

  .container1 {
    width: 20%;
    text-align: center;
    font-size: 1.5vw;
    margin-top: 0.5vw;

    a {
      text-decoration: none;
      color: white;
      margin-left: -1vw;
    }
  }

  .container2 {
    width: 70%;
    text-align: center;
  }

  .container3 {
    width: 10%;
    position: relative;
    display: inline-block;


    .dropbtn {
      width: 2vw;
      margin-bottom: -1vw;
      margin-top: -0.5vw;
      padding: 0.4vw;
      border-radius: 0.5vw;
      cursor: pointer;
      margin-left: 50%;

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 8vw;
        box-shadow: 0vw 0.15vw 0.3vw 0.15vw rgb(82, 82, 82);
        z-index: 4;
        margin-top: 0.45vw;
        margin-left: -5vw;
      }

      .dropdown-content a {
        color: black;
        padding: 1.2vw 1.6vw;
        text-decoration: none;
        display: block;
      }
    }

    .dropbtn:hover {
      background-color: #ff6590;
    }

    .dropbtn:hover .dropdown-content {
      display: block;
    }

    .dropdown-content a:hover {
      background-color: #ddd;
    }

  }
  }
}
