<div class="header">
  <div class="container1">
    Media
  </div>

  <div class="container2">
    <input type="text" placeholder="Search" class="searchInput">
    <button (click)="search()" class="searchBtn">Search</button>
  </div>

  <div class="container3">
    <div class="dropbtn">
      <img src="../../../assets/imgs/settings.svg" alt="" class="settings">
      <div class="dropdown-content">
        <a href="#">Settings</a>
        <a href="#">Profile</a>
        <a href="#">Logout</a>
      </div>
    </div>

  </div>
</div>
