<div class="header">
  <div class="container1">
    MEDIA APP
  </div>

  <div class="container2">
    <span><app-search-bar (emittedTerm)="getSearchTerm($event)"></app-search-bar></span>
  </div>

  <div class="container3">
    <div class="dropbtn">
      <img src="../../../assets/imgs/settings.svg" alt="" class="settings">
      <div class="dropdown-content">
        <a href="#">Settings</a>
        <a href="#">Profile</a>
        <a href="#">Logout</a>
      </div>
    </div>

  </div>
</div>
