.search {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 6px;

  .icon img {
    width: 25px;
  }

  input {
    outline: none;
    border: none;
    width: 100%;
    background-color: #eeeeee;
  }
}
