.search {
  display: flex;
  flex-direction: row;
   background-color:  #ff5585;
  margin-top: -1vw;
  padding: 0.8vw;
  margin-left: 0.5vw;
  margin-bottom: -1.1vw;
  height: 2vw;

  .icon img {
    width: 2vw;
    margin-right: 0.5vw;
  }

  input {
    outline: none;
    border: none;
    width: 100%;
    background-color:  #ff5585;
    font-size: 1vw;
    color: white;
  }
}

/*@media only screen and (min-width: 600px) {
  .search {
    display: flex;
    flex-direction: row;
    background-color: #ff5585;
    padding: 0.8vw;
    margin-left: 0.5vw;
    margin-top: -1.05vw;
    margin-bottom: -2 vw;
    font-size: 1.2vw;

    .icon img {
      width: 2vw;
      margin-right: 0.5vw;
    }

    input {
      outline: none;
      border: none;
      width: 100%;
      background-color:  #ff5585;
      font-size: 1vw;
      color: white;
    }
  }
}
@media only screen and (min-width: 768px) {

}*/
