.menu-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1vw;
  margin-top: 3.7%;
  margin-left: -0.5vw;
  color: white;
  background-color: #101731;
  width: 20%;
  min-height: 100%;
  position: fixed;

  .menu-list {
    display: block;
    padding: 1.5vw 3vw;
    cursor: pointer;
    text-decoration: none;
    color: white;



      &.selected {
             background-color: #1d2959;
             color: red;
      }
  }

  .menu-list:hover {
    background-color:  #1d2959;
  }


}
