.loginPage {
  color: black;
  height: 100%;
  margin: auto;
  padding-top: 7%;
  box-sizing: border-box;
  background: linear-gradient(to bottom right, #010179 0%, #ff2462 100%);


  .FormContainer {
    margin: auto;
    width: 70%;
    box-shadow: 0.1vw 0.1vw 0.6vw 0.1vw rgb(17, 17, 17);

    .formContent {
      float: left;
      width: 40%;
      min-height: 35vw;
      max-height: 35vw;
      background-color: white;

      h1 {
        float: right;
        margin-right: 7%;
        margin-top: 4%;
        color: #ff2462;
        font-weight: bolder;
      }

      .welcome {
        margin-top: 30%;
        font-size: 2vw;
        text-align: center;
      }

      form {
        margin: 7% 0% 0% 17%;

        label {
          font-size: 0.7vw;
          font-weight: bolder;
        }

        .invalid-feedback {
          background-color: red;
          color: white;
          padding: 0.1vw 0.5vw;
          margin-left: 5.8vw;
          border-radius: 0.5vw;
          width: 11.5%;
          position: absolute;
          margin-top: -4.5vw;

        }

        input {
          border: 0.1vw solid rgb(255, 223, 243);
          border-bottom: 0.15vw solid #ff2462;
          width: 70%;
          margin-top: 0.2vw;
          margin-bottom: 1vw;
          padding: 0.5vw 1vw;
          border-radius: 0.5vw 0.5vw 0vw 0vw;
        }

        i {
          width: 1.2vw;
          position: absolute;
          margin-left: -2.1vw;
          margin-top: 0.2vw;
          border-left: 0.1vw solid rgb(255, 223, 243) ;
          background-color:  #ffbbce;
          padding: 0.6vw 0.3vw 0.6vw 0.5vw;
          border-radius: 0vw 0.4vw 0vw 0vw;
          cursor: pointer;
        }

        button {
          text-align: center;
          background-color: #ff2462 ;
          border: 0.2vw solid #ff2462;
          width: 80%;
          padding: 0.3vw 1vw;
          font-size: 1.1vw;
          color: white;
          border-radius: 0.5vw;
          cursor: pointer;
        }

        button:hover {
          background-color: white;
          color: #ff2462;
        }

        button:disabled {
          background-color: #ff6490;
          opacity: 0.8;
          cursor: default;
        }

        button:disabled:hover {
          background-color: #ff6490;
          opacity: 0.8;
          color: white;
        }
      }
    }

    .formImage {
      float: left;
      width: 60%;
      min-height: 35vw;
      max-height: 35vw;
      background: url("../../../assets/imgs/movie.jpg") center center no-repeat;
      background-color: rgb(218, 215, 192);
      background-size: cover;
      padding: -0.1vw;

    }

  }


  .FormContainer:after {
    content: "";
    display: table;
    clear: both;
  }
}
