<app-header (emittedT)="getValue($event)"></app-header>

<div class="viewMovies">
  <div class="movieCategory">
    <div class="subTitle"> {{ displayValue }} </div>
  </div>





<br><br><br><br>

<div *ngIf="displayValue === 'New Release' || displayValue === 'Favourites'  || displayValue === 'Watch Later' " class="movieContainer">
  <div  *ngFor="let movie of filterList">
    <div class="movieContent">
      <img src="{{ movie.imageUrl }}" alt="Not available" class="poster"><br>
      <b>{{ movie.title }}</b><br>
      <span class="subDivision">Genre: {{ movie.genres }}</span><br>
      <span class="subDivision">Rating: <span class="rating">{{ movie.rating}} <span class="star"> <img src="https://www.clker.com/cliparts/p/i/0/Y/B/m/large-yellow-star-md.png" alt=""></span></span></span>
    </div>
  </div>
</div>

<div *ngIf="displayValue === 'Coming Soon' || displayValue === 'Trending' " class="movieContainer">
  <div *ngFor="let movie of movies" (click)="viewDetails(movie)">
    <div class="movieContent" >
       <div [ngStyle]="getBackground(movie.imageUrl)"></div>
      <b>{{ movie.title }}</b><br><br>
      <span class="subDivision">Rating: <span class="rating">{{ movie.rating}} <span class="star"> <img src="https://www.clker.com/cliparts/p/i/0/Y/B/m/large-yellow-star-md.png" alt=""></span></span></span>
    </div>
  </div>
</div>

<!-- <div class="movieContainer">
  <div  *ngFor="let movie of movies"  (click)="retrieveName(movies2)" [class.selected]="movieSelected === movies2">
    <div class="movieContent" >
      <img src="https://image.tmdb.org/t/p/w300{{ movie.imageUrl }}" alt="Not available" class="poster"><br>
      <b>{{ movie.title }}</b><br><br>
      <span class="subDivision">Rating: <span class="rating">{{ movie.rating}} <span class="star"> <img src="https://www.clker.com/cliparts/p/i/0/Y/B/m/large-yellow-star-md.png" alt=""></span></span></span>
    </div>
  </div>
</div>

    <div *ngIf="displayValue === 'New Release' || displayValue === 'Favourites'  || displayValue === 'Watch Later' " class="movieContainer">
      <div  *ngFor="let movie of filterList">
        <div class="movieContent">
          <img src="{{ movie.imageUrl }}" alt="Not available" class="poster"><br>
          <b>{{ movie.title }}</b><br>
          <span class="subDivision">Genre: {{ movie.genres }}</span><br>
          <span class="subDivision">Rating: <span class="rating">{{ movie.rating}} <span class="star"> <img src="https://www.clker.com/cliparts/p/i/0/Y/B/m/large-yellow-star-md.png" alt=""></span></span></span>
        </div>
      </div>
    </div>-->







</div>
