<app-header (emittedT)="getValue($event)"></app-header>
<app-side-menu  (valueEmitted)="onValueEmitted($event)"></app-side-menu>
<div class="viewMovies">
  <div class="movieCategory">
    <div class="subTitle"> {{ displayValue }} </div>
  </div>


  <div class="changeLanguage2">
    <div class="dropbtn2">
      <img src="https://i.pinimg.com/originals/ba/84/8d/ba848da92768204f75906e49aa50bec0.png" alt="" class="translate2">
      <div class="dropdown-content2">
        <a (click)="changeLanguage('en')">{{ 'login.lang.item_1' | translate }}</a>
        <a (click)="changeLanguage('fr')">{{ 'login.lang.item_2' | translate }} </a>
      </div>
    </div>
  </div>


<br><br><br><br><br>

<div *ngIf="displayValue === 'New Release' || displayValue === 'Favourites'  || displayValue === 'Watch Later' " class="movieContainer">
  <div  *ngFor="let movie of filterList">
    <div class="movieContent">
      <img src="{{ movie.imageUrl }}" alt="Not available" class="poster"><br>
      <b>{{ movie.title }}</b><br>
      <span class="subDivision">{{ 'movie_list.genre' | translate }}: {{ movie.genres }}</span><br>
      <span class="subDivision">{{ 'movie_list.rating' | translate }}: <span class="rating">{{ movie.rating}} <span class="star"> <img src="https://www.clker.com/cliparts/p/i/0/Y/B/m/large-yellow-star-md.png" alt=""></span></span></span>
    </div>
  </div>
</div>

<div *ngIf="displayValue === 'Coming Soon' || displayValue === 'Trending' " class="movieContainer">
  <div *ngFor="let movie2 of movies" (click)="viewDetails(movie2)">
    <div class="movieContent" >
      <img src="https://image.tmdb.org/t/p/w300{{ movie2.imageUrl }}" alt="Not available" class="poster"><br>
      <b>{{ movie2.title }}</b><br><br>
      <span class="subDivision">{{ 'movie_list.rating' | translate }}: <span class="rating">{{ movie2.rating}} <span class="star"> <img src="https://www.clker.com/cliparts/p/i/0/Y/B/m/large-yellow-star-md.png" alt=""></span></span></span>
    </div>
  </div>
</div>

<!-- <div class="movieContainer">
  <div  *ngFor="let movie of movies"  (click)="retrieveName(movies2)" [class.selected]="movieSelected === movies2">
    <div class="movieContent" >
      <img src="https://image.tmdb.org/t/p/w300{{ movie.imageUrl }}" alt="Not available" class="poster"><br>
      <b>{{ movie.title }}</b><br><br>
      <span class="subDivision">Rating: <span class="rating">{{ movie.rating}} <span class="star"> <img src="https://www.clker.com/cliparts/p/i/0/Y/B/m/large-yellow-star-md.png" alt=""></span></span></span>
    </div>
  </div>
</div>

    <div *ngIf="displayValue === 'New Release' || displayValue === 'Favourites'  || displayValue === 'Watch Later' " class="movieContainer">
      <div  *ngFor="let movie of filterList">
        <div class="movieContent">
          <img src="{{ movie.imageUrl }}" alt="Not available" class="poster"><br>
          <b>{{ movie.title }}</b><br>
          <span class="subDivision">Genre: {{ movie.genres }}</span><br>
          <span class="subDivision">Rating: <span class="rating">{{ movie.rating}} <span class="star"> <img src="https://www.clker.com/cliparts/p/i/0/Y/B/m/large-yellow-star-md.png" alt=""></span></span></span>
        </div>
      </div>
    </div>-->







</div>
