.header {
  margin-top: 0vw;
}

.sidemenu {
  background-color: #101731;
  width: 21.5%;
  float: left;
}

.ViewMovies {
  color: black;
  float: right;
  width: 78.5%;
  background-color: #0b021f;
  height: 100%;


  .movieCategory {
    position: absolute;
    margin-left: 2.5vw;
    margin-top: 4vw;
    background-color: #0b021f;

    .subTitle {
      font-size: 2vw;
      color:  #ff2462;
      margin-top: 3.5vw;
      width: 20vw;
    }
  }

  .changeLanguage2 {
    color: white;
    margin-left: 73%;
    margin-top: 46vw;
    float: right;
    position: fixed;
    display: inline;
    cursor: pointer;
    z-index: 8;

     .dropbtn2 {
      width: 2vw;
      padding: 0.4vw 0.5vw;
      cursor: pointer;
      margin-left: 50%;

        .translate2 {
          width: 2vw;
          background-color: white;
          border-radius: 0.5vw;
        }

        .dropdown-content2 {
          display: none;
          position: absolute;
          background-color: #f1f1f1;
          min-width:6vw;
          box-shadow: -0.1vw -0.1vw 0.5vw 0.05vw rgb(82, 82, 82);
          margin-top: -6.8vw;
          margin-left: -3vw;
        }

        .dropdown-content2 a {
          color: black;
          padding: 0.5vw 1.2vw;
          text-decoration: none;
          display: block;
          z-index: 8;
        }
    }

    .dropbtn2:hover {
      background-color: #fa326b;
    }

    .dropbtn2:hover .dropdown-content2 {
      display: block;
    }

    .dropdown-content2 a:hover {
      background-color: #ddd;
    }
  }

  .arrange {
    position: absolute;
    margin-top: 9%;
    display: flex;
    margin-left: 28%;

      button {
        padding: 0.5vw 1vw;
        background-color: white;
        color: black;
        margin-right: 1.5vw;
        border-radius: 1vw;
        cursor: pointer;
        position: row;

        &.active {
          background-color: #1d2959;
          color: red;
        }
      }



  }

  .movieContainer {
    height: 36vw;
    padding: 0.5vw 4vw 2vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 13vw;


    .movieContent {
      width: 14vw;
      min-height: 19.5vw;
      padding-bottom: 0.5vw;
      margin-left: 2.6vw;
      margin-bottom: 4vw;
      background-color: white;
      color: black;
      box-shadow: 0.2vw 0.2vw 0.2vw rgb(102, 101, 101);
      cursor: pointer;

      b {
        padding-left: 1.5vw;
        line-height: 1.2vw;
      }

      .poster {
        width: 13vw;
        min-height: 15vw;
        max-height: 15vw;
        margin-top: 0.5vw;
        margin-left: 0.5vw;
        margin-bottom: 0.5vw;
      }

      .subDivision {
        font-size: 0.7vw;
        opacity: 0.7;
        margin-left: 1.5vw;

        .rating {
          background-color: red;
          padding: 0.2vw 0.5vw;
          border-radius: 1vw;
          opacity: 1;
          color: black;
          font-weight: bold;

          .star img {
            width: 0.7vw;
            height: 0.7vw;
            margin-top: -2vw;
            margin-bottom: -0.1vw;
            margin-left: 0vw;
          }
        }
      }
    }

    .movieContent:hover {
      border: 0.3vw solid #3498DB ;
      width: 13.4vw;
      min-height: 18vw;

      .poster {
        margin-left: 0.2vw;
        margin-top: 0.1vw;
      }
    }


  }
}
