<app-header (emittedT)="getValue($event)"></app-header>

<div class="viewMovies">
  <div class="movieCategory">
    <div class="subTitle"> {{ displayValue }} </div>
  </div>

<app-side-menu [id]="displayValue" (valueEmitted)="onValueEmitted($event)"></app-side-menu>




<br><br><br><br><br><br><br><br><br><br>
<div *ngIf="displayValue === 'Trending' " class="movieContainer">
  <div  *ngFor="let movies2 of movieList2"  (click)="retrieveName(movies2)" [class.selected]="movieSelected === movies2">
    <div class="movieContent" >
      <!-- <img src="{{ movies2.imageUrl }}" alt="Not available" class="poster"> --><br>
      <b>{{ movies2.title }}</b><br><br>
      <span class="subDivision">Rating: <span class="rating">{{ movies2.rating}} <span class="star"> <img src="https://www.clker.com/cliparts/p/i/0/Y/B/m/large-yellow-star-md.png" alt=""></span></span></span>
    </div>
  </div>
</div>

    <div *ngIf="displayValue === 'Coming Soon' " class="movieContainer">
      <div  *ngFor="let movies of movieList">
        <div class="movieContent">
           <!-- <img src="{{ movies2.imageUrl }}" alt="Not available" class="poster"> --><br>
          <b>{{ movies.title }}</b><br><br>
          <span class="subDivision">Rating: <span class="rating">{{ movies.rating}} <span class="star"> <img src="https://www.clker.com/cliparts/p/i/0/Y/B/m/large-yellow-star-md.png" alt=""></span></span></span>
        </div>
      </div>
    </div>

    <div *ngIf="displayValue === 'New Release' || displayValue === 'Favourites'  || displayValue === 'Watch Later' " class="movieContainer">
      <div  *ngFor="let movie of filterList">
        <div class="movieContent">
          <img src="{{ movie.imageUrl }}" alt="Not available" class="poster"><br>
          <b>{{ movie.title }}</b><br>
          <span class="subDivision">Genre: {{ movie.genres }}</span><br>
          <span class="subDivision">Rating: <span class="rating">{{ movie.rating}} <span class="star"> <img src="https://www.clker.com/cliparts/p/i/0/Y/B/m/large-yellow-star-md.png" alt=""></span></span></span>
        </div>
      </div>
    </div>







</div>
