/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  position: relative;
  width: 100%;
  min-height: 50.45vw;
  background-color: #0b021f;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
